body {
  background-image: url("../images/cup1.jpg");
  margin: 0 10%;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  background-size: cover;
  color: white;
}
h1 {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  margin-top: 0px;
  color: white;
  text-shadow: 0.05em 0.05em 0.1em black;
}
h2 {
  color: white;
  text-align: center;
  font-size: 1em;
}
h2 p {
  text-align: justify;
}

h3 {
  color: white;
  text-align: center;
  font-size: 1em;
}
h4 {
  color: white;
  text-align: center;
  font-size: 1em;
  font-style: italic;
}
h0 {
  font-family: "The Nautigal", cursive;
  font-size: 6em;
  color: white;
  text-shadow: 0.05em 0.05em 0.1em black;
}
h5 {
  color: rgb(17, 0, 90);
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}
a {
  color: rgb(214, 214, 214);
}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#lokaatio {
  font-size: 1.5em;
}
#lokaatio p {
  text-align: center;
}
#verkkokauppa {
  letter-spacing: 0.1em;
}
#varoitus {
  color: rgb(255, 25, 0);
}

#layout {
  display: grid;
  grid-row: inherit;
  grid-template-columns: repeat(3, 33.3%);
  text-shadow: 0.05em 0.05em 0.1em black;
}
@media screen and (max-width: 1024px) {
  #layout {
    grid-template-columns: repeat(3, 200px);
    padding-left: 100px;
    padding-right: 200px;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  margin: 0;
  background: rgb(134, 90, 48);
  background: linear-gradient(
  180deg,
  rgb(133, 92, 46) 0%,
  rgb(56, 39, 13) 100%);
  padding: 25px;
  -webkit-box-shadow: 0px -6px 11px -4px #000000;
  box-shadow: 0px -6px 11px -4px #000000;
  margin-top: 50px;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.1em black;
  }
  
  .kartta {
  -webkit-box-shadow: 5px 5px 22px 5px #000000;
  box-shadow: 5px 5px 22px 5px #000000;
}

iframe {
  width: 100%;
  height: 100%;
}

.footer_tiedot ul {
  margin-top: 50px;
}

.footer_tiedot li {
  list-style: none;
  margin: 10px 0;
}

.footer_tiedot a {
  text-decoration: none;
}
