body {
  background-color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0 40px;
}

.pää_otsikko {
  /* color: #ff5c03; */
  text-align: center;
  font-size: 3em;
}
h2,
h3,
h4,
h5,
h6 {
  line-height: 1px;
  /* color: #2300bf; */
}

.tuote_otsikko {
  text-align: center;
}

ul {
  padding: 0;
}

.selostus {
  border-bottom: 3px solid black;
}

p {
  font-weight: 500;
}

.juomat {
  /* border: 1px solid black;
  padding: 10px;
  border-radius: 5px; */
}

.tuote {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}

/* @media screen and (min-width: 6px) {
  #layout {
    grid-template-rows: repeat(6, 10px);
    grid-template-columns: 40px;
    padding-left: 260px;
    padding-right: 300px;
  }
}
@media screen and (min-width: 663px) {
  #layout {
    grid-template-rows: repeat(6, 190px);
    grid-template-columns: 400px;
    padding-left: 260px;
    padding-right: 300px;
  }
}
@media screen and (min-width: 1024px) {
  #layout {
    display: grid;
    grid-row: inherit;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(3, 200px);
    padding-right: 600px;
    padding-left: 340px;
  }
} */
