body {
  background-image: url("../images/coffeemachine.jpg");
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  margin: 0;
  background-size: cover;
  color: white;
}

/* CONTENT */

.container {
  margin: 0 40px 80px 40px;
}

.pää_otsikko {
  /* color: #ff5c03; */
  text-align: center;
  font-size: 3em;
}
h2,
h3,
h4,
h5,
h6 {
  line-height: 1px;
  /* color: #2300bf; */
}

.tuote_otsikko {
  text-align: center;
}

ul {
  padding: 0;
}

.selostus {
  border-bottom: 3px solid white;
  padding: 20px 0;
  text-align: center;
}

p {
  font-weight: 500;
  margin: 0;
}

.tuote {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}

/* END CONTENT */

/* @media screen and (min-width: 6px) {
  #layout {
    grid-template-rows: repeat(6, 10px);
    grid-template-columns: 40px;
    padding-left: 260px;
    padding-right: 300px;
  }
}
@media screen and (min-width: 663px) {
  #layout {
    grid-template-rows: repeat(6, 190px);
    grid-template-columns: 400px;
    padding-left: 260px;
    padding-right: 300px;
  }
}
@media screen and (min-width: 1024px) {
  #layout {
    display: grid;
    grid-row: inherit;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(3, 200px);
    padding-right: 600px;
    padding-left: 340px;
  }
} */

/* FOOTER */

footer {
  display: flex;
  justify-content: space-around;
  margin: 0;
  background: rgb(223, 109, 109);
  background: linear-gradient(
    180deg,
    rgba(223, 109, 109, 1) 0%,
    rgba(255, 154, 0, 1) 100%
  );
  padding: 50px;
  -webkit-box-shadow: 0px -12px 22px -4px #000000;
  box-shadow: 0px -12px 22px -4px #000000;
}

.kartta {
  -webkit-box-shadow: 5px 5px 22px 5px #000000;
  box-shadow: 5px 5px 22px 5px #000000;
}

iframe {
  width: 100%;
  height: 100%;
}

.footer_tiedot ul {
  margin-top: 50px;
}

.footer_tiedot li {
  list-style: none;
  margin: 10px 0;
}

.footer_tiedot a {
  text-decoration: none;
}

/* END FOOTER */

/* NAV */

header {
  display: flex;
  justify-content: space-around;
  background: rgb(223, 109, 109);
  background: linear-gradient(
    180deg,
    rgba(223, 109, 109, 1) 0%,
    rgba(255, 154, 0, 1) 100%
  );
  -webkit-box-shadow: 0px 6px 22px -4px #000000;
  box-shadow: 0px 6px 22px -4px #000000;
}

header a {
  text-decoration: none;
  color: #000000;
}

header a:hover {
  text-decoration: none;
  /* Väri pitää muuttaa sopivammaksi */
  color: red;
}

.nav_right {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 150px;
}
