html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: white;
  margin: 0;
}

a {
  color: rgb(214, 214, 214);
}

a:hover {
  color: red;
}

nav {
  display: flex;
  justify-content: space-around;
  background: rgb(134, 90, 48);
  background: linear-gradient(
    180deg,
    rgb(202, 134, 56) 0%,
    rgb(121, 81, 21) 100%
  );
  -webkit-box-shadow: 0px 6px 22px -4px #000000;
  box-shadow: 0px 6px 22px -4px #000000;
  text-shadow: none;
}
.lang {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  /* margin: auto 0; */
  /* padding: auto 0; */
}

.lang_icon_container {
  margin: auto;
}

.lang_icon {
  width: 25px;
  height: 25px;
  margin: auto;
}

.hidden {
  display: none;
  color: red;
}

.mobile_container {
  display: none;
}

/* .mobile_arrow {
  display: none;
} */

nav h3 {
  margin: auto 0;
}

nav a {
  text-decoration: none;
  color: #000000;
}

nav a:hover {
  text-decoration: none;
  /* Väri pitää muuttaa sopivammaksi */
  color: red;
}

.nav_left {
  margin: auto 0;
}

.nav_right {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  gap: 150px;
}

h1 {
  text-transform: uppercase;
  text-shadow: 0, 5px;
  color: rgb(61, 53, 39);
  font-style: italic;
  font-size: 2em;
  color: white;
}

h2 {
  text-transform: uppercase;
  text-shadow: 0, 5px;
  color: rgb(61, 53, 39);
  font-style: italic;
  font-size: 1, 5em;
  margin-bottom: 30px;
  color: white;
}

h3 {
  margin-bottom: 30px;
  color: white;
}

h6 {
  line-height: 1px;
  /* color: #2300bf; */
}

p {
  text-align: center;
  color: rgb(61, 53, 39);
  font-style: oblique;
  font-size: 24px;
  padding: 20px;
}

.etusivu {
  background: url("../images/cup1.jpg");
  background-size: cover;
  text-align: center;
  background-size: cover;
  color: white;
}

.custom_h1 {
  text-transform: uppercase;
  border-bottom: 4px solid black;
  padding-bottom: 20px;
  margin-bottom: 30px;
  text-shadow: 0.05em 0.05em 0.1em black;
  text-color: #000000;
}

/*
 	.custom_h2 {
	}
	.custom_h3 {
	}
	*/

.custom_h4 {
  color: white;
  text-align: center;
  font-size: 1em;
  font-style: italic;
}

.otsikko {
  /*font-family: "The Nautigal", cursive; Luettavampi ilman tätä?*/
  font-size: 6em;
  color: white;
  text-shadow: 0.05em 0.05em 0.1em black;
  margin: 50px;
}

.section {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#layout {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  text-shadow: 0.05em 0.05em 0.1em black;
  margin-bottom: 100px;
}

#lokaatio {
  font-size: 1.5em;
  margin-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  #layout {
    grid-template-columns: repeat(3, 200px);
    padding-left: 100px;
    padding-right: 200px;
  }
  nav {
    display: flex;
    justify-content: center;
    background: rgb(134, 90, 48);
    background: linear-gradient(
      180deg,
      rgb(202, 134, 56) 0%,
      rgb(121, 81, 21) 100%
    );
    -webkit-box-shadow: 0px 6px 22px -4px #000000;
    box-shadow: 0px 6px 22px -4px #000000;
  }

  /* .nav_left {
    justify-content: center;
    align-items: center;
  } */

  nav h3 {
    margin: auto 0;
  }
  nav a {
    text-decoration: none;
    color: #000000;
  }
  nav a:hover {
    text-decoration: none;
    /* Väri pitää muuttaa sopivammaksi */
    color: red;
  }
  .nav_left {
    margin: auto 0;
    display: flex;
    gap: 25px;
  }
  .nav_right {
    display: none;
  }
  .mobile_container {
    display: block;
    margin: auto 0;
  }

  .hamburger_menu {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
  }
  /* .hamburger_menu_container {
  } */
  .hamburger_menu li {
    list-style: none;
    padding: 20px 0;
    font-size: 3vh;
  }
  .mobile_arrow {
    display: block;
    transform: rotate(135deg);
  }

  h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 3vw;
  }
  p {
    font-size: 2vmin;
  }
}

.menu {
  background: url("../images/coffeemenu.jpg");
  background-size: cover;
  box-sizing: border-box;
  margin: 0;
  color: white;
}

.pää_otsikko {
  /* color: #ff5c03; */
  text-align: center;
  font-size: 3em;
}

.tuote_otsikko {
  text-align: center;
}

.selostus {
  border-bottom: 3px solid white;
  padding: 20px 0;
  text-align: center;
}

.tuote {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}

p {
  font-weight: 500;
  margin: 0;
  color: white;
}

/* @media screen and (min-width: 6px) (Etusivun responsiivisuuteen. Matti) {
	#layout {
		grid-template-rows: repeat(6, 10px);
		grid-template-columns: 40px;
		padding-left: 260px;
		padding-right: 300px;
		}
	}
	
@media screen and (min-width: 663px) {
	#layout {
		grid-template-rows: repeat(6, 190px);
		grid-template-columns: 400px;
		padding-left: 260px;
		padding-right: 300px;
		}
	}
	
@media screen and (min-width: 1024px) {
	#layout {
		display: grid;
		grid-row: inherit;
		grid-template-columns: repeat(2, 600px);
		grid-template-rows: repeat(3, 200px);
		padding-right: 600px;
		padding-left: 340px;
		}
	} */

ul {
  padding: 0;
}

.container {
  margin: 0 40px 0px 40px;
}

.keittering {
  background-color: rgb(255, 233, 215);
  margin: 0 10%;
  text-align: center;
  background-size: contain;
}

/* .nav_right {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 150px;
} */

textarea {
  resize: none;
  height: 150px;
  width: 350px;
}

.palaute {
  background: url("../images/palaute.png");
  box-sizing: border-box;
  color: white;
  text-shadow: 0.04em 0.04em 0.085em black;
  background-size: contain;
  text-align: center;
  color: white;
  background-size: cover;
}

div.stars {
	width: 270px;
	display: inline-block;
  }
  
  input.star { display: none; }
  
  label.star {
	float: center;
	padding: 10px;
	font-size: 36px;
	color: #444;
	transition: all .2s;
  }
  
  input.star:checked ~ label.star:before {
	content: '\2605';
	color: #FD4;
	transition: all .25s;
  }
  
  input.star-5:checked ~ label.star:before {
	color: #FE7;
  }
  
  input.star-1:checked ~ label.star:before { color: #F62; }
  
  
  label.star:before {
	content: '\2605';
  }

#stars {
  display: grid;
  grid-row: inherit;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 70%);
  margin-bottom: 5%;
  row-gap: 30%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;

}

#linkit_palaute {
  display: grid;
  grid-row: inherit;
  grid-template-rows: 5em;
  grid-template-columns: repeat 100px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10%;
  font-size: 1.5em;
}
@media screen and (max-width: 1024px) {
	#stars {
		display: grid;
		grid-row: inherit;
		grid-template-rows: repeat(3, 130px);
		grid-template-columns: none;
		row-gap: 0px;
		font-size: 1.7em;
		text-shadow: 0.07em 0.07em 0.07em black;
		}
	.palaute {
		text-shadow: 0.07em 0.07em 0.07em black;	
		font-size: 1.3em;
		margin-bottom: 2em;
	}
	}

footer {
  display: flex;
  justify-content: space-around;
  background: rgb(134, 90, 48);
  background: linear-gradient(
    180deg,
    rgb(133, 92, 46) 0%,
    rgb(56, 39, 13) 100%
  );
  padding: 50px;
  -webkit-box-shadow: 0px -6px 11px -4px #000000;
  box-shadow: 0px -6px 11px -4px #000000;
  margin-top: 50px;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.1em black;
  text-align: left;
}

.kartta {
  -webkit-box-shadow: 5px 5px 22px 5px #000000;
  box-shadow: 5px 5px 22px 5px #000000;
}
iframe {
  width: 100%;
  height: 100%;
}

.footer_tiedot ul {
  margin-top: 50px;
  padding: 0px;
}

.footer_tiedot li {
  list-style: none;
  margin: 10px 0;
}

.footer_tiedot a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.left {
  padding: 20px;
  float: left;
  width: 10%;
}

.main {
  padding: 20px;
  float: left;
  width: 100%;
}

.right {
  padding: 20px;
  float: left;
  width: 20%;
}

@media screen and (max-width: 800px) {
  .left,
  .main,
  .right {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}
.container {
  position: relative;
}
.mySlides {
  display: none;
}
.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position:absolute;
  top: 50%;
  width:auto;
  padding: 16px;
  margin-top: -50px;
  margin-left: -20%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 31%;
}
.prev:hover,
.next:hover {
  background-color: rgba(0,0,0,0.8);
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 12px;
  color: white;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 16.66%;
}
.demo {
  display: none;
}
.active
.demo:hover {
  opacity: 1;
}