body {
  background-color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
}
h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font: bold 1.2em "Comic Sans MS";
  color: #1c0972;
}
legend {
  color: #2300bf;
  text-align: center;
  font-size: 1em;
}
legend p {
  text-align: justify;
}

h3 {
  color: #ff5c03;
  text-align: center;
  font-size: 1em;
}
h4 {
  color: #2300bf;
  text-align: center;
  font-size: 1em;
  font-style: italic;
}

#lokaatio {
  font-size: 1.5em;
}
#lokaatio p {
  text-align: center;
}

#layout,
#kuljetus {
  display: grid;
  grid-row: inherit;
  grid-template-columns: repeat(1, 1300px);
  margin: 0 15.5%;
}
@media screen and (max-width: 1024px) {
  #layout {
    grid-template-columns: repeat(3, 200px);
    margin: 0 15%;
  }
  #kuljetus {
    grid-row: inherit;
    grid-template-columns: 591px;
  }
}

#Leivonnaiset p {
  text-align: center;
  color: #2300bf;
}
#loppu {
  text-align: center;
}

#kuljetus {
  margin: 0 15.5%;
}
footer {
  display: flex;
  justify-content: space-around;
  margin: 0;
  background: rgb(223, 109, 109);
  background: linear-gradient(
    180deg,
    rgba(223, 109, 109, 1) 0%,
    rgba(255, 154, 0, 1) 100%
  );
  padding: 50px;
  -webkit-box-shadow: 0px -6px 11px -4px #000000;
  box-shadow: 0px -6px 11px -4px #000000;
  margin-top: 50px;
}

.kartta {
  -webkit-box-shadow: 5px 5px 22px 5px #000000;
  box-shadow: 5px 5px 22px 5px #000000;
}

iframe {
  width: 100%;
  height: 100%;
}

.footer_tiedot ul {
  margin-top: 50px;
}

.footer_tiedot li {
  list-style: none;
  margin: 10px 0;
}

.footer_tiedot a {
  text-decoration: none;
}
